/* FONT PATH
 * -------------------------- */
$fa-font-path="fonts"
@font-face
  font-family 'FontAwesome'
  src resourceUrl($fa-font-path + '/fontawesome-webfont.eot')
  src resourceUrl($fa-font-path + '/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
    resourceUrl($fa-font-path + '/fontawesome-webfont.woff') format('woff'),
    resourceUrl($fa-font-path + '/fontawesome-webfont.ttf') format('truetype'),
    resourceUrl($fa-font-path + '/fontawesome-webfont.svg#fontawesomeregular') format('svg')
  // src url($fa-font-path + '/FontAwesome.otf') format('opentype') // used when developing fonts
  font-weight normal
  font-style normal
