doctype html
html
    head
        title fack tests
        link(rel="stylesheet", type="text/css", href=cssUrl("index"))
    body.container
        h1 fack tests
        ul
            li: a(href='/test') Test
            li: a(href='/testModern') Test of bundles for modern browsers
