doctype html
html
    head
        title fack: JS in a subdirectory test
        link(rel="stylesheet", type="text/css", href=cssUrl("index"))
    body.container
        h1 fack: JS in a subdirectory test
        .jsOut JS...
    script(src=jsUrl("sub/index"))
