doctype html
html
    head
        title fack test
        link(rel="stylesheet", type="text/css", href=cssUrl("index"))
    body.container
        h1 fack test
        .faTest
            | Font Awesome: 
            i.fa.fa-thumbs-up
        .jsOut JS...
        .socketioOut Socket.io...
        .resources Resources...
        .jsonMiddleware JSON middleware...
        .i18n i18n...
        .es2015 ES 2015...
        .resolveInStylus Resolve dans Stylus. Affiche un point d'exclamation:&#32;
            span.iconic.home
        a(href='/sub') Test JS in a subdirectory
    script(src=jsUrl("libs"))
    script(src=jsUrl("common"))
    script(src=jsUrl("index"))
