doctype html
html
    head
        title fack test
        link(rel="stylesheet", type="text/css", href=cssUrl("index.css"))
    body.container
        h1 fack test
        .faTest
            i.fa.fa-thumbs-up
        .jsOut
    script(src=jsUrl("index.js"))
