doctype html
html
    head
        title fack test
        link(rel="stylesheet", type="text/css", href=cssUrl("index"))
    body.container
        h1 fack test
        .faTest
            i.fa.fa-thumbs-up
        .jsOut JS...
        .socketioOut Socket.io...
        .resources Resources...
        .jsonMiddleware JSON middleware...
    script(src=jsUrl("index"))
