doctype html
html
    head
        title fack test
        link(rel="stylesheet", type="text/css", href=cssUrl("index"))
    body.container
        h1 fack test
        .faTest
            | Font Awesome: 
            i.fa.fa-thumbs-up
        .jsOut JS...
        .socketioOut Socket.io...
        .resources Resources...
        .jsonMiddleware JSON middleware...
        .i18n i18n...
    script(src=jsUrl("libs"))
    script(src=jsUrl("common"))
    script(src=jsUrl("index"))
